.logo-container {
  width: 300px; /* ajuste como quiser */
  margin: 0 auto;
  padding: 1rem;
  animation: fadeIn 2s ease-in-out;
}

.logo-draw path {
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  /* Adicionada a animação 'fadeStrokeOut' */
  animation: drawPath 3s ease forwards, 
             fillLogo 1s ease forwards 3s, 
             fadeStrokeOut 1s ease forwards 3s;
  fill: transparent;
  stroke: white;
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillLogo {
  to {
    fill: rgb(255, 255, 255);
  }
}

/* Nova animação para remover o contorno */
@keyframes fadeStrokeOut {
  to {
    stroke: transparent;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}